@CHARSET "ISO-8859-1";

* {
    box-sizing:     border-box;
    border:         0;                  /* Comment this out for debugging */
    }

body {
    background-color:   WhiteSmoke;
    margin:         0;
    font-size:      100%;
    }

.PageDiv {
    width:          100%;
    max-width:      1024px;
    display:        none;
    }

.Hostname {
    color:          brown;
    }

.NoBotMargin {
    margin-bottom:  0;
    }

/***********************************************************************
 *
 * Other pages
 */
.LeftIndent {
    width:          2em;
    }

.Triangle {
    height:         1em;
    vertical-align: 0.25em;
    color:          grey;
    }

.Triangle:hover {
    color:          black;
    }

.FolderIcon {
    height:         1em;
    vertical-align: top;
    }

.IFTable {
    }

.IFName {
    }

.DevTable {
    }

.DevName {
    }

.ServTable {
    }

.ServName {
    }

.CharTable {
    }

.CharName {
    }

.NavButton { 
    max-height:     60px;
    border:         2px solid black;
    border-radius:  15px;
    -moz-border-radius: 15px;
    }

input {
    border-style:   solid;
    border-width:   1px;
    border-color:   black;
    font-family:    helvetica, arial, sans serif;
    padding-left:   0px;
    font-size:      150%;
    color:          brown;
    }
