@CHARSET "ISO-8859-1";

* {
    box-sizing:     border-box;
    border:         0;                  /* Comment this out for debugging */
    padding:        0;
    }

body {
    background-color:   WhiteSmoke;
    font-size:      16px;
/*    margin-left:    4em;*/
    margin: 30px;
    font-family: sans-serif;
    }

.PageDiv {
    width:          100%;
    max-width:      1024px;
    display:        none;
    }

.Hostname {
    color:          brown;
    }

.NoBotMargin {
    margin-bottom:  0;
    }

/***********************************************************************
 *
 * Tree styles
 */
ol,ul { list-style: none }



.tree { margin:     1em; }

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  }

.tree input         ~ ul { display: none; }
.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/

/* .tree li { */
/*   line-height: 1.2; */
/*   position: relative; */
/*   padding: 0 0 1em 1em; */
/*   } */

/* .tree ul li { padding: 1em 0 0 1em; } */
/* .tree > li:last-child { padding-bottom: 0; } */

.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
  }

.tree ul li         { padding: 0 0 0 1em; }
.tree li:last-child { padding-bottom: 0.5em; }

/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative;
  display: inline-block;
  background: WhiteSmoke;
  }

label.tree_label       { cursor: pointer; }
label.tree_label:hover { color : #666;    }

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
    background:     Black;
    color:          WhiteSmoke;
    position:       relative;
    z-index:        1;
    float:          left;
    margin:         0 1em 0 -2em;
    width:          1em;
    height:         1em;
    border-radius:  1em;
    text-align:     center;
    line-height:    .9em;
    }

:not(:checked) ~ label.tree_label:before { content: '+'; }
:checked       ~ label.tree_label:before { content: '–'; }

/* ————————————————————–
  Tree branches
*/
.tree li:before {
  position: absolute;
  top: -.57em;
  bottom: 0;
  left: -.5em;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: "";
  }

.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 0 0 0 .3em;
  content: '';
  }

label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
  }

.tree li:last-child:before {
    height:     1em;
    bottom:     auto;
    }

.tree > li:last-child:before { display: none; }

/***********************************************************************
 *
 * Other pages
 */

.Addr {
    font-family:    monospace;
    }

.Name {
    color:          Blue;
    }

.UUID {
    font-family:    monospace;
    }

.LeftIndent {
    width:          2em;
    }

.NavButton { 
    max-height:     60px;
    border:         2px solid black;
    border-radius:  15px;
    -moz-border-radius: 15px;
    }

input {
    border-style:   solid;
    border-width:   1px;
    border-color:   black;
    font-family:    helvetica, arial, sans serif;
    padding-left:   0px;
    font-size:      150%;
    color:          brown;
    }
